<section container>
	<section inner
			[class.inset-1]="this.getScaleWidth() <= 1"
			[class.inset-2]="this.getScaleWidth() === 2"
			[class.inset-3]="this.getScaleWidth() === 3"
			[class.inset-4]="this.getScaleWidth() === 4"
			[class.inset-5]="this.getScaleWidth() === 5"
			[class.inset-6]="this.getScaleWidth() === 6"
			[class.inset-7]="this.getScaleWidth() === 7"
			[class.inset-8]="this.getScaleWidth() === 8"
			[class.inset-9]="this.getScaleWidth() === 9"
			[class.inset-10]="this.getScaleWidth() === 10"
			[class.inset-11]="this.getScaleWidth() === 11"
			[class.inset-12]="this.getScaleWidth() === 12"
			[class.inset-13]="this.getScaleWidth() === 13"
			[class.inset-14]="this.getScaleWidth() === 14"
			[class.inset-15]="this.getScaleWidth() === 15"
			[class.inset-16]="this.getScaleWidth() === 16"
			[class.inset-17]="this.getScaleWidth() === 17"
			[class.inset-18]="this.getScaleWidth() === 18"
			[class.inset-19]="this.getScaleWidth() === 19"
			[class.inset-20]="this.getScaleWidth() === 20"
			[class.inset-21]="this.getScaleWidth() === 21"
			[class.inset-22]="this.getScaleWidth() === 22"
			[class.inset-23]="this.getScaleWidth() === 23"
			[class.inset-24]="this.getScaleWidth() === 24"
			[class.inset-25]="this.getScaleWidth() === 25"
			[class.inset-26]="this.getScaleWidth() === 26"
			[class.inset-27]="this.getScaleWidth() === 27"
			[class.inset-28]="this.getScaleWidth() === 28"
			[class.inset-29]="this.getScaleWidth() === 29"
			[class.inset-30]="this.getScaleWidth() === 30"
	>
		<section area>
			<div class="grid" *ngFor="let step of this.listIntervals(); let i = index"
					[style.top.%]="100 * (1 - this.getValuePosition(step))"
			></div>
			
			<graphics-svg class="height100"
					[width]="100"
					[height]="100"
			>
				<svg:path *ngFor="let listSet of this.listListSetIndexes()"
				 		[style.stroke]="this.getStyleColor(listSet)"
						[class.red]="this.getClassColor(listSet) === 'red'"
						[class.orange]="this.getClassColor(listSet) === 'orange'"
						[class.yellow]="this.getClassColor(listSet) === 'yellow'"
						[class.green]="this.getClassColor(listSet) === 'green'"
						[class.cyan]="this.getClassColor(listSet) === 'cyan'"
						[class.blue]="this.getClassColor(listSet) === 'blue'"
						[class.indigo]="this.getClassColor(listSet) === 'indigo'"
						[class.magenta]="this.getClassColor(listSet) === 'magenta'"
						[class.primary]="this.getClassColor(listSet) === 'primary'"
						[class.primary-light]="this.getClassColor(listSet) === 'primary-light'"
						[class.primary-dark]="this.getClassColor(listSet) === 'primary-dark'"
						[class.secondary]="this.getClassColor(listSet) === 'secondary'"
						[class.secondary-light]="this.getClassColor(listSet) === 'secondary-light'"
						[class.secondary-dark]="this.getClassColor(listSet) === 'secondary-dark'"
						[attr.d]="this.getPath(listSet)"
				/>
			</graphics-svg>

			<ng-container *ngFor="let listSet of this.listListSetIndexes()">
				<section point *ngFor="let item of this.listItems(listSet); let i = index"
						[style.width.%]="100 / this.lines.length"
						[style.left.%]="i * (100 / this.lines.length)"
				>
					<div class="point"
							[style.height.%]="100 - item.xy.y"
					>
						<div class="dotouter">
							<div class="dotinner"
							 		[style.border-color]="item.styleColor"
									[class.red]="item.classColor === 'red'"
									[class.orange]="item.classColor === 'orange'"
									[class.yellow]="item.classColor === 'yellow'"
									[class.green]="item.classColor === 'green'"
									[class.cyan]="item.classColor === 'cyan'"
									[class.blue]="item.classColor === 'blue'"
									[class.indigo]="item.classColor === 'indigo'"
									[class.magenta]="item.classColor === 'magenta'"
									[class.primary]="item.classColor === 'primary'"
									[class.primary-light]="item.classColor === 'primary-light'"
									[class.primary-dark]="item.classColor === 'primary-dark'"
									[class.secondary]="item.classColor === 'secondary'"
									[class.secondary-light]="item.classColor === 'secondary-light'"
									[class.secondary-dark]="item.classColor === 'secondary-dark'"
							></div>
						</div>
						<span class="name" *ngIf="listSet === 0 && item.name && '' !== item.name"
								[class.expanded]="item.expanded"
						>{{item.name}}</span>
					</div>
				</section>
			</ng-container>
		</section>
		
		<span class="scale" *ngFor="let step of this.listIntervals(); let i = index"
				[style.top.%]="100 * (1 - this.getValuePosition(step))"
		><span class="inner">{{this.getScaleValue(step)}}</span></span>
	</section>
</section>
