<section container>
	<section inner
			[class.inset-1]="this.internalScaleWidth <= 1"
			[class.inset-2]="this.internalScaleWidth === 2"
			[class.inset-3]="this.internalScaleWidth === 3"
			[class.inset-4]="this.internalScaleWidth === 4"
			[class.inset-5]="this.internalScaleWidth === 5"
			[class.inset-6]="this.internalScaleWidth === 6"
			[class.inset-7]="this.internalScaleWidth === 7"
			[class.inset-8]="this.internalScaleWidth === 8"
			[class.inset-9]="this.internalScaleWidth === 9"
			[class.inset-10]="this.internalScaleWidth === 10"
			[class.inset-11]="this.internalScaleWidth === 11"
			[class.inset-12]="this.internalScaleWidth === 12"
			[class.inset-13]="this.internalScaleWidth === 13"
			[class.inset-14]="this.internalScaleWidth === 14"
			[class.inset-15]="this.internalScaleWidth === 15"
			[class.inset-16]="this.internalScaleWidth === 16"
			[class.inset-17]="this.internalScaleWidth === 17"
			[class.inset-18]="this.internalScaleWidth === 18"
			[class.inset-19]="this.internalScaleWidth === 19"
			[class.inset-20]="this.internalScaleWidth === 20"
			[class.inset-21]="this.internalScaleWidth === 21"
			[class.inset-22]="this.internalScaleWidth === 22"
			[class.inset-23]="this.internalScaleWidth === 23"
			[class.inset-24]="this.internalScaleWidth === 24"
			[class.inset-25]="this.internalScaleWidth === 25"
			[class.inset-26]="this.internalScaleWidth === 26"
			[class.inset-27]="this.internalScaleWidth === 27"
			[class.inset-28]="this.internalScaleWidth === 28"
			[class.inset-29]="this.internalScaleWidth === 29"
			[class.inset-30]="this.internalScaleWidth === 30"
	>
		<section area>
			<div class="grid" *ngFor="let step of this.internalListIntervals; let i = index"
					[style.top.%]="this.internalIntervalPositions[i]"
			></div>
			
			<section bar *ngFor="let bar of this.internalItems; let i = index"
					[style.width.%]="100 / this.internalItems.length"
					[style.left.%]="i * (100 / this.internalItems.length)"
			>
				<div class="bar"
				 		[style.background-color]="bar.styleColor"
						[style.height.%]="100 * bar.height"
						[class.red]="bar.classColor === 'red'"
						[class.orange]="bar.classColor === 'orange'"
						[class.yellow]="bar.classColor === 'yellow'"
						[class.green]="bar.classColor === 'green'"
						[class.cyan]="bar.classColor === 'cyan'"
						[class.blue]="bar.classColor === 'blue'"
						[class.indigo]="bar.classColor === 'indigo'"
						[class.magenta]="bar.classColor === 'magenta'"
						[class.primary]="bar.classColor === 'primary'"
						[class.primary-light]="bar.classColor === 'primary-light'"
						[class.primary-dark]="bar.classColor === 'primary-dark'"
						[class.secondary]="bar.classColor === 'secondary'"
						[class.secondary-light]="bar.classColor === 'secondary-light'"
						[class.secondary-dark]="bar.classColor === 'secondary-dark'"
				>
					<label *ngIf="bar.label">{{bar.label}}</label>
					<span class="name" *ngIf="bar.name"
								[class.expanded]="bar.expanded"
					>{{bar.name}}</span>
				</div>
			</section>
		</section>
		
		<span class="scale" *ngFor="let step of this.internalListIntervals; let i = index"
				[style.top.%]="this.internalIntervalPositions[i]"
		><span class="inner">{{step | commonsPrettyFigure}}</span></span>
	</section>
</section>
