<section container>
	<section inner
			[class.inset-1]="this.internalScaleWidth <= 1"
			[class.inset-2]="this.internalScaleWidth === 2"
			[class.inset-3]="this.internalScaleWidth === 3"
			[class.inset-4]="this.internalScaleWidth === 4"
			[class.inset-5]="this.internalScaleWidth === 5"
			[class.inset-6]="this.internalScaleWidth === 6"
			[class.inset-7]="this.internalScaleWidth === 7"
			[class.inset-8]="this.internalScaleWidth === 8"
			[class.inset-9]="this.internalScaleWidth === 9"
			[class.inset-10]="this.internalScaleWidth === 10"
			[class.inset-11]="this.internalScaleWidth === 11"
			[class.inset-12]="this.internalScaleWidth === 12"
			[class.inset-13]="this.internalScaleWidth === 13"
			[class.inset-14]="this.internalScaleWidth === 14"
			[class.inset-15]="this.internalScaleWidth === 15"
			[class.inset-16]="this.internalScaleWidth === 16"
			[class.inset-17]="this.internalScaleWidth === 17"
			[class.inset-18]="this.internalScaleWidth === 18"
			[class.inset-19]="this.internalScaleWidth === 19"
			[class.inset-20]="this.internalScaleWidth === 20"
			[class.inset-21]="this.internalScaleWidth === 21"
			[class.inset-22]="this.internalScaleWidth === 22"
			[class.inset-23]="this.internalScaleWidth === 23"
			[class.inset-24]="this.internalScaleWidth === 24"
			[class.inset-25]="this.internalScaleWidth === 25"
			[class.inset-26]="this.internalScaleWidth === 26"
			[class.inset-27]="this.internalScaleWidth === 27"
			[class.inset-28]="this.internalScaleWidth === 28"
			[class.inset-29]="this.internalScaleWidth === 29"
			[class.inset-30]="this.internalScaleWidth === 30"
	>
		<section area>
			<div class="grid" *ngFor="let step of this.internalListIntervals; let i = index"
					[style.top.%]="this.internalIntervalPositions[i]"
			></div>
			
			<section bar *ngFor="let range of this.internalItems; let i = index"
					[style.width.%]="100 / this.internalItems.length"
					[style.left.%]="i * (100 / this.internalItems.length)"
			>
				<div class="bar"
						[style.height.%]="100 * range.upper"
						[style.bottom.%]="0"
				>
					<div class="rangeHeight"
							[style.height.%]="100 * range.height"
					 		[style.background-color]="range.styleColor"
							[class.red]="range.classColor === 'red'"
							[class.orange]="range.classColor === 'orange'"
							[class.yellow]="range.classColor === 'yellow'"
							[class.green]="range.classColor === 'green'"
							[class.cyan]="range.classColor === 'cyan'"
							[class.blue]="range.classColor === 'blue'"
							[class.indigo]="range.classColor === 'indigo'"
							[class.magenta]="range.classColor === 'magenta'"
							[class.primary]="range.classColor === 'primary'"
							[class.primary-light]="range.classColor === 'primary-light'"
							[class.primary-dark]="range.classColor === 'primary-dark'"
							[class.secondary]="range.classColor === 'secondary'"
							[class.secondary-light]="range.classColor === 'secondary-light'"
							[class.secondary-dark]="range.classColor === 'secondary-dark'"
					></div>
					<label *ngIf="range.label">{{range.label}}</label>
					<span class="name" *ngIf="range.name"
								[class.expanded]="range.expanded"
					>{{range.name}}</span>
				</div>
			</section>
		</section>
		
		<span class="scale" *ngFor="let step of this.internalListIntervals; let i = index"
				[style.top.%]="this.internalIntervalPositions[i]"
		><span class="inner">{{step | commonsPrettyFigure}}</span></span>
	</section>
</section>
