@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';

@import (less) '../../less/palette.less';
@import (less) '../../less/fonts.less';

@char-width: 10px;
@char-half-width: @char-width / 2;

@scale-indent: 10px;
@label-offset: 10px;
@name-gap: 10px;
@bar-gap: 10px;
@bar-gap--tight: 3px;
@bar-gap--vtight: 1px;

.red {	background-color: @graphics__colors--red;	}
.orange {	background-color: @graphics__colors--orange;	}
.yellow {	background-color: @graphics__colors--yellow;	}
.green {	background-color: @graphics__colors--green;	}
.cyan {	background-color: @graphics__colors--cyan;	}
.blue {	background-color: @graphics__colors--blue;	}
.indigo {	background-color: @graphics__colors--indigo;	}
.magenta {	background-color: @graphics__colors--magenta;	}

.primary {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background-color: ~"@{theme-@{value}__palette__primary}";
		}
	});
}
.primary-light {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background-color: ~"@{theme-@{value}__palette__primary--light}";
		}
	});
}
.primary-dark {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background-color: ~"@{theme-@{value}__palette__primary--dark}";
		}
	});
}
.secondary {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background-color: ~"@{theme-@{value}__palette__secondary}";
		}
	});
}
.secondary-light {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background-color: ~"@{theme-@{value}__palette__secondary--light}";
		}
	});
}
.secondary-dark {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background-color: ~"@{theme-@{value}__palette__secondary--dark}";
		}
	});
}

section {
	display: block;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;

	position: relative;
	top: 0;
	left: 0;
}

section[container] {
	padding: (@graphics__font__label--size / 2) 0 ((@graphics__font__label--size * 1.2) + @name-gap) 0;
}

section[area] {
	width: 100%;
	height: 100%;
}

section[bar] {
	height: 100%;
	position: absolute;
	top: 0;
}

div.bar {
	position: absolute;
	left: @bar-gap;
	width: ~'calc(100% - ' (@bar-gap * 2) ~')';

	:host.tight & {
		left: @bar-gap--tight;
		width: ~'calc(100% - ' (@bar-gap--tight * 2) ~')';
	}
	:host.vtight & {
		left: @bar-gap--vtight;
		width: ~'calc(100% - ' (@bar-gap--vtight * 2) ~')';
	}
	
	div.rangeHeight {
		position: absolute;
		top: -1px;
		left: 0;
		width: 100%;
		
		padding: 1px 0;
	}
	
	span.name, label {
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		white-space: no-wrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		font-family: @graphics__font__family;
		font-weight: @graphics__font__label--weight;
		font-size: @graphics__font__label--size;
		line-height: @graphics__font__label--size * 1.2;

		&.expanded {
			left: -20px;
			width: ~'calc(100% + 40px)';
		}
	}
	
	span.name {
		bottom: -(@graphics__font__label--size + @name-gap);
		
		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}).theme-light & {
				color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
			}
			:host-context(body.webappcommons-theme-@{value}).theme-dark & {
				color: ~"@{web-app-commons__theme-@{value}__palette__subtle--dark}";
			}
		});
	}
	
	label {
		top: @label-offset;
		color: white;
	}
}

div.grid {
	position: absolute;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}).theme-light & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		}
		:host-context(body.webappcommons-theme-@{value}).theme-dark & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__subtle--dark}";
		}
	});
	
	height: 1px;
	width: 100%;
}

span.scale {
	display: block;
	box-sizing: border-box;
	padding: 0 @scale-indent 0 0;
	
	font-family: @graphics__font__family;
	font-weight: @graphics__font__label--weight;
	font-size: @graphics__font__label--size;
	line-height: @graphics__font__label--size * 1.2;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}).theme-light & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
		}
		:host-context(body.webappcommons-theme-@{value}).theme-dark & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text--invert}";
		}
	});
	
	position: absolute;
	left: 0;
	text-align: right;
}

span.inner {
	position: relative;
	top: -((@graphics__font__label--size / 2) + 1px);
	overflow: hidden;
	white-space: no-wrap;
	text-overflow: ellipsis;
	
	width: 100%;
}

.generate-area-insets(@n, @i: 0) when (@i < @n) {
	section[inner].inset-@{i} {
		padding-left: (@char-half-width * @i) + @scale-indent;
		
		span.scale {
			width: (@char-half-width * @i) + @scale-indent;
		}
	}
	.generate-area-insets(@n, (@i + 1));
}
.generate-area-insets(30);
