@graphics__colors--red: #ff0000;
@graphics__colors--orange: #ffaa00;
@graphics__colors--yellow: #fff000;
@graphics__colors--green: #00cc00;
@graphics__colors--cyan: #00ddff;
@graphics__colors--blue: #0077ff;
@graphics__colors--indigo: #bb00ff;
@graphics__colors--magenta: #ff00aa;
@graphics__colors--black: #222222;
@graphics__colors--white: #fcfcfc;
@graphics__colors--grey: #999999;
@graphics__colors--silver: #d0d0d0;
