@charset 'utf8';

section {
	display: block;
	width: 100%;
		
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
	width: 100%;
	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
