@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';

@import (less) '../../less/palette.less';
@import (less) '../../less/fonts.less';

@char-width: 10px;
@char-half-width: @char-width / 2;

@scale-indent: 10px;
@name-gap: 10px;

@dot-radius: 5px;
@line-width: 2px;

.red {	border-color: @graphics__colors--red;	}
.orange {	border-color: @graphics__colors--orange;	}
.yellow {	border-color: @graphics__colors--yellow;	}
.green {	border-color: @graphics__colors--green;	}
.cyan {	border-color: @graphics__colors--cyan;	}
.blue {	border-color: @graphics__colors--blue;	}
.indigo {	border-color: @graphics__colors--indigo;	}
.magenta {	border-color: @graphics__colors--magenta;	}

.primary {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			border-color: ~"@{theme-@{value}__palette__primary}";
		}
	});
}
.primary-light {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			border-color: ~"@{theme-@{value}__palette__primary--light}";
		}
	});
}
.primary-dark {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			border-color: ~"@{theme-@{value}__palette__primary--dark}";
		}
	});
}
.secondary {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			border-color: ~"@{theme-@{value}__palette__secondary}";
		}
	});
}
.secondary-light {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			border-color: ~"@{theme-@{value}__palette__secondary--light}";
		}
	});
}
.secondary-dark {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			border-color: ~"@{theme-@{value}__palette__secondary--dark}";
		}
	});
}

section {
	display: block;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;

	position: relative;
	top: 0;
	left: 0;
}

section[container] {
	padding: (@graphics__font__label--size / 2) 0 ((@graphics__font__label--size * 1.2) + @name-gap) 0;
}

section[inner] {
}
section[area] {
	width: 100%;
	height: 100%;
}

section[point] {
	height: 100%;
	position: absolute;
	top: 0;
}

div.point {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	
	span.name, label {
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		whitespace: no-wrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		font-family: @graphics__font__family;
		font-weight: @graphics__font__label--weight;
		font-size: @graphics__font__label--size;
		line-height: @graphics__font__label--size * 1.2;
		
		&.expanded {
			left: -20px;
			width: ~'calc(100% + 40px)';
		}
	}
	
	span.name {
		bottom: -(@graphics__font__label--size + @name-gap);

		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}).theme-light & {
				color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
			}
			:host-context(body.webappcommons-theme-@{value}).theme-dark & {
				color: ~"@{web-app-commons__theme-@{value}__palette__subtle--dark}";
			}
		});
	}
	
	div.dotouter {
		position: relative;
		left: 0;
		top: 0;
		box-sizing: border-box;
		width: 100%;
		height: 1px;
		padding-left: 50%;
	}
	
	div.dotinner {
		box-sizing: border-box;
		border-style: solid;
		border-width: @line-width;
		border-radius: @dot-radius;
		width: @dot-radius * 2;
		height: @dot-radius * 2;
		position: relative;
		left: -@dot-radius;
		top: -@dot-radius;
		background: white;
	}
}

div.grid {
	position: absolute;

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}).theme-light & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__subtlest}";
		}
		:host-context(body.webappcommons-theme-@{value}).theme-dark & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__subtlest--dark}";
		}
	});
	
	height: 1px;
	width: 100%;
}

graphics-svg {
	position: absolute;
}

span.scale {
	display: block;
	box-sizing: border-box;
	padding: 0 @scale-indent 0 0;
	
	font-family: @graphics__font__family;
	font-weight: @graphics__font__label--weight;
	font-size: @graphics__font__label--size;
	line-height: @graphics__font__label--size * 1.2;

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}).theme-light & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
		}
		:host-context(body.webappcommons-theme-@{value}).theme-dark & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text--invert}";
		}
	});
	
	position: absolute;
	left: 0;
	text-align: right;
}

span.inner {
	position: relative;
	top: -((@graphics__font__label--size / 2) + 1px);
	overflow: hidden;
	whitespace: no-wrap;
	text-overflow: ellipsis;
	
	width: 100%;
}

.generate-area-insets(@n, @i: 0) when (@i < @n) {
	section[inner].inset-@{i} {
		padding-left: (@char-half-width * @i) + @scale-indent;
		
		span.scale {
			width: (@char-half-width * @i) + @scale-indent;
		}
	}
	.generate-area-insets(@n, (@i + 1));
}
.generate-area-insets(30);

path {
	&.red {	stroke: @graphics__colors--red;	}
	&.orange {	stroke: @graphics__colors--orange;	}
	&.yellow {	stroke: @graphics__colors--yellow;	}
	&.green {	stroke: @graphics__colors--green;	}
	&.cyan {	stroke: @graphics__colors--cyan;	}
	&.blue {	stroke: @graphics__colors--blue;	}
	&.indigo {	stroke: @graphics__colors--indigo;	}
	&.magenta {	stroke: @graphics__colors--magenta;	}
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			&.primary {	stroke: ~"@{theme-@{value}__palette__primary}";	}
			&.primary-light {	stroke: ~"@{theme-@{value}__palette__primary--light}";	}
			&.primary-dark {	stroke: ~"@{theme-@{value}__palette__primary--dark}";	}
			&.secondary {	stroke: ~"@{theme-@{value}__palette__secondary}";	}
			&.secondary-light {	stroke: ~"@{theme-@{value}__palette__secondary--light}";	}
			&.secondary-dark {	stroke: ~"@{theme-@{value}__palette__secondary--dark}";	}
		}
	});
	
	stroke-width: @line-width;
	fill: none;
	vector-effect: non-scaling-stroke;
}
