<section container>
	<graphics-svg
			[width]="SIZE"
			[height]="SIZE"
	>
		<svg:g *ngFor="let segment of this.listItems()">
			<svg:circle *ngIf="segment.from === 0 && segment.to === 1; else partial"
					[attr.cx]="SIZE / 2"
					[attr.cy]="SIZE / 2"
					[attr.r]="SIZE / 2"
					[attr.style]="segment.styleColor"
					[class.red]="segment.classColor === 'red'"
					[class.orange]="segment.classColor === 'orange'"
					[class.yellow]="segment.classColor === 'yellow'"
					[class.green]="segment.classColor === 'green'"
					[class.cyan]="segment.classColor === 'cyan'"
					[class.blue]="segment.classColor === 'blue'"
					[class.indigo]="segment.classColor === 'indigo'"
					[class.magenta]="segment.classColor === 'magenta'"
					[class.primary]="segment.classColor === 'primary'"
					[class.primary-light]="segment.classColor === 'primary-light'"
					[class.primary-dark]="segment.classColor === 'primary-dark'"
					[class.secondary]="segment.classColor === 'secondary'"
					[class.secondary-light]="segment.classColor === 'secondary-light'"
					[class.secondary-dark]="segment.classColor === 'secondary-dark'"
			/>
			<ng-template #partial>
				<svg:path
				 		[attr.d]="this.getD(segment)"
						[attr.style]="segment.styleColor"
						[class.red]="segment.classColor === 'red'"
						[class.orange]="segment.classColor === 'orange'"
						[class.yellow]="segment.classColor === 'yellow'"
						[class.green]="segment.classColor === 'green'"
						[class.cyan]="segment.classColor === 'cyan'"
						[class.blue]="segment.classColor === 'blue'"
						[class.indigo]="segment.classColor === 'indigo'"
						[class.magenta]="segment.classColor === 'magenta'"
						[class.primary]="segment.classColor === 'primary'"
						[class.primary-light]="segment.classColor === 'primary-light'"
						[class.primary-dark]="segment.classColor === 'primary-dark'"
						[class.secondary]="segment.classColor === 'secondary'"
						[class.secondary-light]="segment.classColor === 'secondary-light'"
						[class.secondary-dark]="segment.classColor === 'secondary-dark'"
				/>
			</ng-template>
		</svg:g>
	</graphics-svg>
	<aside labels>
		<ng-container *ngFor="let segment of this.listItems()">
			<span *ngIf="segment.label" class="outer"
					[style]="this.getTextPosition(segment)"
			>
				<span class="inner">{{segment.label}}</span>
			</span>
		</ng-container>
	</aside>
</section>
