@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';

@import (less) '../../less/palette.less';
@import (less) '../../less/fonts.less';

.red {	fill: @graphics__colors--red;	}
.orange {	fill: @graphics__colors--orange;	}
.yellow {	fill: @graphics__colors--yellow;	}
.green {	fill: @graphics__colors--green;	}
.cyan {	fill: @graphics__colors--cyan;	}
.blue {	fill: @graphics__colors--blue;	}
.indigo {	fill: @graphics__colors--indigo;	}
.magenta {	fill: @graphics__colors--magenta;	}

.primary {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			fill: ~"@{theme-@{value}__palette__primary}";
		}
	});
}
.primary-light {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			fill: ~"@{theme-@{value}__palette__primary--light}";
		}
	});
}
.primary-dark {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			fill: ~"@{theme-@{value}__palette__primary--dark}";
		}
	});
}
.secondary {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			fill: ~"@{theme-@{value}__palette__secondary}";
		}
	});
}
.secondary-light {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			fill: ~"@{theme-@{value}__palette__secondary--light}";
		}
	});
}
.secondary-dark {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			fill: ~"@{theme-@{value}__palette__secondary--dark}";
		}
	});
}

section {
	display: block;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 100%;
	
	position: relative;
	top: 0;
	left: 0;
}

path, circle {
	stroke: none;
}

aside {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;

	font-family: @graphics__font__family;
	font-weight: @graphics__font__label--weight;
	font-size: @graphics__font__label--size;
	line-height: @graphics__font__label--size * 1.2;

	span.outer {
		display: block;
		position: absolute;
	}
	
	span.inner {
		display: block;
		position: relative;
		top: -(@graphics__font__label--size / 2);
		left: -100px;
		text-align: center;
		width: 200px;
		overflow: hidden;
		whitespace: no-wrap;
		text-overflow: ellipsis;
	}

	color: white;
}
