@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';

@scales__font-size: 13px * (400 / 255);

section {
	display: block;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 100%;
	
	position: relative;
	top: 0;
	left: 0;
}

text {
	font-family: @materialdesign__font__family;
	font-weight: 300;
	font-style: normal;
	font-size: @scales__font-size;

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}).theme-light & {
			@color-a: "theme-@{value}__palette__body--background";
			@color-b: "web-app-commons__theme-@{value}__palette__body--background--greyscale--invert";
			fill: mix(@@color-a, @@color-b, 80%);
		}
		:host-context(body.webappcommons-theme-@{value}).theme-dark & {
			@color-a: "web-app-commons__theme-@{value}__palette__body--background--greyscale--invert";
			@color-b: "theme-@{value}__palette__body--background";
			fill: mix(@@color-a, @@color-b, 10%);
		}
	});
	
	line-height: 125%;
}

g {
	&#needle {
		transition: all 1s linear;
		path {
			each(@web-app-commons__themes, {
				:host-context(body.webappcommons-theme-@{value}).theme-light & {
					@color-a: "theme-@{value}__palette__body--background";
					@color-b: "web-app-commons__theme-@{value}__palette__body--background--greyscale--invert";
					fill: mix(@@color-a, @@color-b, 20%);
				}
				:host-context(body.webappcommons-theme-@{value}).theme-dark & {
					@color-a: "web-app-commons__theme-@{value}__palette__body--background--greyscale--invert";
					@color-b: "theme-@{value}__palette__body--background";
					fill: mix(@@color-a, @@color-b, 20%);
				}
			});
		}
	}

	&#secondary {
		transition: all 1s linear;
		path {
			each(@web-app-commons__themes, {
				:host-context(body.webappcommons-theme-@{value}).theme-light & {
					@color-a: "theme-@{value}__palette__body--background";
					@color-b: "web-app-commons__theme-@{value}__palette__body--background--greyscale--invert";
					fill: mix(@@color-a, @@color-b, 60%);
				}
				:host-context(body.webappcommons-theme-@{value}).theme-dark & {
					@color-a: "web-app-commons__theme-@{value}__palette__body--background--greyscale--invert";
					@color-b: "theme-@{value}__palette__body--background";
					fill: mix(@@color-a, @@color-b, 60%);
				}
			});
		}
	}

	&#average {
		transition: all 15s linear;
		path {
			each(@web-app-commons__themes, {
				:host-context(body.webappcommons-theme-@{value}).theme-light & {
					@color-a: "theme-@{value}__palette__body--background";
					@color-b: "web-app-commons__theme-@{value}__palette__body--background--greyscale--invert";
					fill: mix(@@color-a, @@color-b, 60%);
				}
				:host-context(body.webappcommons-theme-@{value}).theme-dark & {
					@color-a: "web-app-commons__theme-@{value}__palette__body--background--greyscale--invert";
					@color-b: "theme-@{value}__palette__body--background";
					fill: mix(@@color-a, @@color-b, 60%);
				}
			});
		}
	}
}
