<section container>
	<graphics-svg *ngIf="this.scale.length"
			[width]="SIZE"
			[height]="SIZE"
	>
		<svg:path
			d="m 195,70.104601 c -20.01605,0.7612 -38.88584,6.06916 -55.60742,14.91992 l 9.96289,17.257799 c 13.75988,-7.128599 29.22594,-11.435679 45.64453,-12.165999 z" style="fill:#4ad200;" />
		<svg:path
			d="m 205,70.104601 0,20.01172 c 16.41859,0.73032 31.88465,5.0374 45.64453,12.165999 l 9.96289,-17.257799 c -16.72158,-8.85076 -35.59137,-14.15872 -55.60742,-14.91992 z" style="fill:#b5dc00;" />
		<svg:path
			d="M 130.73829,90.036241 C 114.33682,100.40439 100.40508,114.33774 90.037129,130.73935 l 17.242181,9.95313 c 8.58335,-13.41489 20,-24.83071 33.41406,-33.41407 z" style="fill:#00c000;" />
		<svg:path
			d="m 269.26173,90.036241 -9.95508,17.242169 c 13.41489,8.58336 24.83071,20 33.41406,33.41407 l 17.24219,-9.95313 C 299.59494,114.33774 285.6632,100.40439 269.26173,90.036241 Z" style="fill:#e6d800;" />
		<svg:path
			d="m 85.023456,139.3917 c -8.8505,16.72138 -14.15678,35.59169 -14.91797,55.60742 l 20.011723,0 c 0.73029,-16.41798 5.03787,-31.88309 12.166001,-45.64258 z" style="fill:#00c000;" />
		<svg:path
			d="m 314.97657,139.3917 -17.25976,9.96484 c 7.12814,13.75949 11.43572,29.2246 12.16601,45.64258 l 20.01172,0 c -0.76119,-20.01573 -6.06747,-38.88604 -14.91797,-55.60742 z" style="fill:#e6a300;" />
		<svg:path
			d="m 70.105486,205 c 0.76119,20.01572 6.06747,38.88604 14.91797,55.60742 L 102.28321,250.6417 C 95.155079,236.8822 90.847499,221.4171 90.117209,205 Z" style="fill:#00c000;" />
		<svg:path
			d="m 309.88282,205 c -0.73029,16.41798 -5.03787,31.88308 -12.16601,45.64258 l 17.25976,9.96484 c 8.8505,-16.72138 14.15678,-35.5917 14.91797,-55.60742 z" style="fill:#e65100;" />
		<svg:path
			d="m 107.27931,259.30576 -17.242181,9.95312 c 10.368241,16.40209 24.301031,30.33488 40.703111,40.70313 l 9.95313,-17.24219 c -13.41489,-8.58335 -24.83071,-20 -33.41406,-33.41406 z" style="fill:#00c000;" />
		<svg:path
			d="m 292.72071,259.30576 c -8.58335,13.41489 -20,24.83071 -33.41406,33.41406 l 9.95313,17.24219 c 16.40208,-10.36825 30.33487,-24.30104 40.70312,-40.70313 z" style="fill:#e60000;" />
		<svg:text y="320" x="100" style="text-align:end;text-anchor:end;"><svg:tspan y="320" x="100">{{this.scale[0] | commonsPrettyFigure}}<ng-container *ngIf="this.scale[0] > 0">-</ng-container></svg:tspan></svg:text>
		<svg:text style="text-align:end;text-anchor:end;" x="60" y="250"><svg:tspan x="60" y="250">{{this.scale[1] | commonsPrettyFigure}}</svg:tspan></svg:text>
		<svg:text y="170" x="60" style="text-align:end;text-anchor:end;"><svg:tspan y="170" x="60">{{this.scale[2] | commonsPrettyFigure}}</svg:tspan></svg:text>
		<svg:text style="text-align:end;text-anchor:end;" x="100" y="100"><svg:tspan x="100" y="100">{{this.scale[3] | commonsPrettyFigure}}</svg:tspan></svg:text>
		<svg:text y="60" x="170" style="text-align:end;text-anchor:end;"><svg:tspan y="60" x="170">{{this.scale[4] | commonsPrettyFigure}}</svg:tspan></svg:text>
		<svg:text style="text-align:start;text-anchor:start;" x="230" y="60"><svg:tspan x="230" y="60">{{this.scale[5] | commonsPrettyFigure}}</svg:tspan></svg:text>
		<svg:text y="100" x="300" style="text-align:start;text-anchor:start;"><svg:tspan y="100" x="300">{{this.scale[6] | commonsPrettyFigure}}</svg:tspan></svg:text>
		<svg:text style="text-align:start;text-anchor:start;" x="340" y="170"><svg:tspan x="340" y="170">{{this.scale[7] | commonsPrettyFigure}}</svg:tspan></svg:text>
		<svg:text y="250" x="340" style="text-align:start;text-anchor:start;"><svg:tspan y="250" x="340">{{this.scale[8] | commonsPrettyFigure}}</svg:tspan></svg:text>
		<svg:text style="text-align:start;text-anchor:start;" x="300" y="320"><svg:tspan x="300" y="320">{{this.scale[9] | commonsPrettyFigure}}+</svg:tspan></svg:text>
		<svg:g *ngIf="this.average" id="average" [attr.transform]="'rotate(' + getNeedleRotation() + ' 200,200)'">
			<svg:path style="opacity:1;"
				d="m 200.00001,100 -14.78906,73.9414 a 30,30 0 0 0 -15.21094,26.0586 30,30 0 0 0 10,22.31836 l 0,17.68164 40,0 0,-17.6875 a 30,30 0 0 0 10,-22.3125 30,30 0 0 0 -15.2168,-26.08008 l -14.7832,-73.91992 z m 0,90 a 10,10 0 0 1 10,10 10,10 0 0 1 -10,10 10,10 0 0 1 -10,-10 10,10 0 0 1 10,-10 z" />
			<svg:rect style="opacity:0;fill:#ffffff;" width="10" height="60" x="195" y="240" />
		</svg:g>
		<svg:g *ngIf="this.secondary !== undefined" id="secondary" [attr.transform]="'rotate(' + getSecondaryNeedleRotation() + ' 200,200)'">
			<svg:path style="opacity:1;"
				d="m 200.00001,100 -14.78906,73.9414 a 30,30 0 0 0 -15.21094,26.0586 30,30 0 0 0 10,22.31836 l 0,17.68164 40,0 0,-17.6875 a 30,30 0 0 0 10,-22.3125 30,30 0 0 0 -15.2168,-26.08008 l -14.7832,-73.91992 z m 0,90 a 10,10 0 0 1 10,10 10,10 0 0 1 -10,10 10,10 0 0 1 -10,-10 10,10 0 0 1 10,-10 z" />
			<svg:rect style="opacity:0;fill:#ffffff;" width="10" height="60" x="195" y="240" />
		</svg:g>
		<svg:g id="needle" [attr.transform]="'rotate(' + getNeedleRotation() + ' 200,200)'">
			<svg:path style="opacity:1;"
				d="m 200.00001,100 -14.78906,73.9414 a 30,30 0 0 0 -15.21094,26.0586 30,30 0 0 0 10,22.31836 l 0,17.68164 40,0 0,-17.6875 a 30,30 0 0 0 10,-22.3125 30,30 0 0 0 -15.2168,-26.08008 l -14.7832,-73.91992 z m 0,90 a 10,10 0 0 1 10,10 10,10 0 0 1 -10,10 10,10 0 0 1 -10,-10 10,10 0 0 1 10,-10 z" />
			<svg:rect style="opacity:0;fill:#ffffff;" width="10" height="60" x="195" y="240" />
		</svg:g>
	</graphics-svg>
</section>
